<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shae Iswar">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Prompt&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    

	<title>
	Shae Iswar - Curriculum vitae
	</title>
	<link rel="stylesheet" href="si_css-proto-2.css">
	<link rel="icon" type="img/ico" href="favicon.png" size="32x32">
	<script defer src="si_cv.js?v=2"></script>
</head>
<body>
    <div id="home-content" class="col-sm-9 col-lg-9">

        <div id="head-section">
                <p id="title">Shae Iswar</p>
        </div>

        

            <div id="nav-div">
                <ul class="navbar" >
                    <li class="active"><a href="index.html">HOME</a></li>                   
                    <li><a href="cv.html">CV</a></li>
                    <li><a href="contact.html"> CONTACT </a></li>            
                </ul>       
            </div>
        

        <div id="cv-content">

            <div class="col-lg-2 col-sm-2" id="cv-buttons">
                 <button class="accordion" id="about">ABOUT</button>
                 <button class="accordion" id="work">WORK</button>
                 <button class="accordion" id="ski">SKILLS</button>
                 <button class="accordion" id="edu">EDUCATION</button>
                 <button class="accordion" id="ach">ACHIEVEMENTS</button>
                 
            </div>

            <div class="col-sm-10 col-lg-10" id="cv-text">

                <div id="in">
                Please read the sections before clicking "Your reading speeds" to view your reading speeds.
                <br><br>
                <p id="arrow">
                &#8594;
                </p>
                </div>

                <div class="section-text w3-animate-bottom" id="ab">
                    <p> 
                        <h2>About me</h2>
                        
                        I am self-motivated, quick to learn and enjoy working as part of a team. I am looking to further develop and enhance my skills in the IT industry, specifically in artificial intelligence.
                        My passion towards computing and digital systems pushed me to pursue my career as a developer. 
                        As a strong creative thinker, finding different and effective solutions to problems has always been a strength of mine.   
                        <hr>
                        I am also a competitive hockey player and I currently represent Auckland at the Premier level.
                        My hockey career has trained me to become a confident leader. I have always believed that there is no replacement for hard work, leading by example inspires others to push themselves. 
                        My commitment to my hockey career has always kept me learning and working hard in all areas of my life. 
                        <hr>
                        Other interests of mine include golf, basketball and video gaming.
                        
                    </p>   
                </div>

                <div class="section-text w3-animate-bottom" id="wo">

                    <p>
                        <h2>Current Position</h2>

                        I have recently completed a Bachelor of Science with a Computer Science major at the University of Auckland. I wish to begin working as a developer as soon as possible.
                        <h3>Para Rubber</h3>
                        I work part time at Para Rubber in Mount Wellington and have been there since October 2018. This position requires the following attributes:
                        <ul>
                        <li>Excellent customer service skills</li>
                        <li>Sharp understanding of specialist products like industrial rubber and foam</li>
                        <li>Precise measurements and calculations specific to each customer</li>
                        <li>General product knowledge</li>
                        <li>Ability to communicate and work out solutions for unusual requests</li>
                        </ul>
                        
                    </p>

                    <br><hr><br>


                    <p>

                        <h2>Previous Employment</h2>
                        <br>
                        <h3>Sky City Entertainment Group </h3>
                         October 2016 – April 2017
                        At Sky City Entertainment I worked in the corporate function centre, hosting large events and dinners such as the NZ Rugby awards. In this position, I gained experience as a waiter and casual bartender. This job included catering for the ASB Tennis Classic event which required . 
                        <br>
                        <h3>Platform 4 Group</h3>
                        August 2016 – December 2017
                        At P4G I was involved in the security and ushering of both corporate and casual guests to Eden Park. Also at Eden Park, I worked mostly as a corporate bartender under Eden Park Catering. 
                        
                        <br>
                        <h3>LVMH</h3>
                        I have promoted high end fragrances with LVMH such as Givenchy and Tiffany and Co. This position required me to be friendly and outgoing when promoting, advertising and educating about my product.
                    </p>
                </div>


                <div class="section-text w3-animate-bottom" id="sk">
                    <p> 
                        <h2>Skills</h2>
                        
                        Through university and personal study I became familiar with the following languages:
                        <ul>
                            <li>Python</li>
                            <li>SQL</li>
                            <li>JavaScript</li>
                            <li>Java</li>
                            <li>C</li>
                            <li>C#</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Prolog</li>
                            <li>CLIPS</li>
                        </ul>


                        
                        I am most fluent in Python but would feel confident working with and learning other languages.
			<br/>
			I am very comfortable with mathematical concepts and algorithms and I feel confident implementing them in code.
                        <br/>
                        My technical skills are mainly in coding/backend development as I have less experience working on design.
                        <hr>
                        
                        
                    </p>   
                </div>


                <div class="section-text w3-animate-bottom" id="ed">
                    <p>
                        <h2>Education and Qualifications</h2>
                        School - NCEA Level 3 merit endorsement.
                        <br></br>
                        University - Bachelor of Science, Computer Science major.


                    </p>
                </div>
                <div class="section-text w3-animate-bottom" id="ac">
                    <p>
                        <h2>Sporting Achievements</h2>
                        <br>
                        <h3>Representative</h3>
                        <ul>
                            <li>Auckland Hockey age group rep 2013 -2019</li>
                            <li>Captain of Auckland Hockey U21 2019</li>
                            <li>Auckland National Hockey League Team 2019 - Present</li>
                            <li>Selected for National Team Development squad</li>
                        </ul>
                        <br>
                        <h3>Other</h3>
                        <ul>
                            <li>Southern Districts Premier Hockey Team 2016 - Present</li>
                            <li>Captain of Mt Albert Grammar First XI Hockey 2015 - 2016</li>
                            <li>Coach of Mt Albert Grammar First XI Hockey 2017 - 2018</li>
                            <li>Auckland Indians team 2015 - Present</li>
                            <li>Selected for New Zealand Indians Hockey team 2017 - 2018</li>
                        </ul>
                    </p>
                </div>
                
            </div>




        </div>
        
    </div>
    <div id="home-pic-section " class="col-sm-3 col-lg-3">
            
            <img src="cv1.jpg" id="cv1">
            <button onclick="summary()" id="summary">Your reading speeds</button>
            <div id="metrics" class="w3-animate-zoom">
                <h2>
                    Your viewing breakdown:
                </h2>
                
                About reading speed:<p id="a"></p>
                Work reading speed:<p id="w"></p>
                Skills reading speed:<p id="s"></p>
                Education reading speed:<p id="e"></p>
                Achievements reading speed:<p id="aa"></p>

                <h4>
                    Average reading speed:<p id="av"></p>
                </h4>
                

            </div>



           
        
        
    </div>



</body>
</html>