<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shae Iswar">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/658ab70a21.js" crossorigin="anonymous"></script>

    
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Prompt&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    

	<title>
	Shae Iswar - Curriculum vitae
	</title>
	<link rel="stylesheet" href="si_css-proto-2.css">
	<link rel="icon" type="img/ico" href="favicon.png" size="32x32">
	<script defer src="si_cv.js?v=2"></script>
</head>
<body>
    <div class="col-sm-9 col-lg-9">

        <div id="head-section">
                <p id="title">Shae Iswar</p>
        </div>

        

            <div id="nav-div">
                <ul class="navbar" >
                    <li class="active"><a href="index.html">HOME</a></li>                   
                    <li><a href="cv.html">CV</a></li>
                    <li><a href="contact.html"> CONTACT </a></li>            
                </ul>       
            </div>
        
        <div class="main-text"> 

        <h1>Contact me</h1>
        If you wish to get in touch with me, email me at:
        <br/>
        shae.iswar@gmail.com

        </div>

    </div>
	<div id="home-pic-section" class="col-sm-3 col-lg-3">
            
            <div id="pic-space">
                <a href="https://www.google.com" class="icon w3-xxxlarge fab fa-github"></a>
                <a href="https://www.google.com" class="icon w3-xxxlarge fab fa-facebook"></a>
                <a href="https://www.google.com" class="icon w3-xxxlarge fab fa-linkedin"></a>
            </div>
            <img src="qtown.jpg" id="home-pic">
            
        
        
   	</div>



</body>
</html>