<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shae Iswar">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/658ab70a21.js" crossorigin="anonymous"></script>

  
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Prompt&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Tomorrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    

	<title>
	Shae Iswar - Curriculum vitae
	</title>
	<link rel="stylesheet" href="si_css-proto-2.css">
	<link rel="icon" type="img/ico" href="favicon.png" size="32x32">
	<script defer src="{{ url_for('static', filename='si_cv.js') }}"></script>
</head>
<body>
    <div id="home-content" class="col-sm-9 col-lg-9">

        <div id="head-section">
                <p id="title">Shae Iswar</p>
        </div>

        

            <div id="nav-div">
                <ul class="navbar" >
                    <li class="active"><a href="index.html">HOME</a></li>                   
                    <li><a href="cv.html">CV</a></li>
                    <li><a href="contact.html"> CONTACT </a></li>            
                </ul>       
            </div>
        

        <div id="home-text">
            
            <h1>I'm Shae</h1>

            
            <h3>
                Im a recent graduate from the University of Auckland. I have completed a Bachelor of Science, majoring in 
                Computer Science.
            <br></br>
            </h3>
            <h3>
                I love science and have a strong passion for anything computer related.
            <br></br>
            </h3>

            <h3>
                I plan to become a backend developer, and I would love to work with Artificial Intelligence.
            </h3>

            <iframe width="889" height="500" src="https://www.youtube.com/embed/XIIZGomYIqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        
    </div>
    <div id="home-pic-section" class="col-sm-3 col-lg-3">
            
            <div id="pic-space">
                <a href="https://www.google.com" class="icon w3-xxxlarge fab fa-github"></a>
                <a href="https://www.google.com" class="icon w3-xxxlarge fab fa-facebook"></a>
                <a href="https://www.google.com" class="icon w3-xxxlarge fab fa-linkedin"></a>
            </div>
            <img src="qtown.jpg" id="home-pic">
            
        
        
    </div>



</body>
</html>