<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        

         <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Carter+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap" rel="stylesheet"> 
        

         <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blogstyles.css') }}">
        <title>Shiswar's Game Reviews</title>
    </head>
    <body>
        <div class="header-wrapper">
            <header class="header">
                <nav class="navbar navbar-expand navbar-dark bg-dark">
                    <img src="{{ url_for('static', filename='cat-logo.png') }}" id="logo">
                    <a id="nav-title">dick blog</a>
                    <div class="collapse navbar-collapse">
                        <ul class= "navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('game') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}">Sign up</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        


        <div id="master-wrapper" class="container-fluid text-center bg-light">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %} 
            
        </div>
        

    </body>
</html>